<template>
  <v-btn text :color="color" :disabled="disabled" @click="clickHandler">
    <slot>Button</slot>
  </v-btn>
</template>

<script>
export default {
  name: 'ButtonBase',
  props: ['color', 'disabled', 'clickHandler']
}
</script>