<template>
  <v-card>
    <v-card-text class="pb-0">
      TERMOSTAT
    </v-card-text>
    <v-card-title>{{ roomName }}</v-card-title>
    <v-card-text class="display-3 pb-0">
      {{ temperature + '&deg;C' }}
    </v-card-text>
    <v-card-text>{{ status }}</v-card-text>
    <v-card-actions>
      <ButtonBase
        color="indigo"
        :disabled="temperature == min"
        :clickHandler="decrease"
      >
        <v-icon>
          mdi-minus
        </v-icon>
        Decrease
      </ButtonBase>
      <ButtonBase
        color="pink"
        :disabled="temperature == max"
        :clickHandler="increase"
      >
        <v-icon>
          mdi-plus
        </v-icon>
        Increase
      </ButtonBase>
    </v-card-actions>
  </v-card>
</template>

<script>
import ButtonBase from '@/components/ButtonBase.vue'

export default {
  name: 'Termostat',
  components: {
    ButtonBase
  },
  props: {
    initialTemperature: {
      type: Number,
      default: 24
    },
    roomName: {
      type: String,
      default: 'Untitled'
    },
    min: {
      type: Number,
      default: -20
    },
    max: {
      type: Number,
      default: 35
    }
  },
  data() {
    return {
      temperature: this.initialTemperature
    }
  },
  computed: {
    status() {
      switch (true) {
        case (this.temperature > 30):
          return 'very hot'
        case (this.temperature > 26):
          return 'hot'
        case (this.temperature > 17):
          return 'normal'
        case (this.temperature > 7):
          return 'cool'
        case (this.temperature > 0):
          return 'very cold'
        default:
          return '---'
      }
    }
  },
  methods: {
    increase() {
      if (this.temperature < this.max) {
        this.temperature++
      }
    },

    decrease() {
      if (this.temperature > this.min) {
        this.temperature--
      }
    }
  }
}
</script>