<template>
  <v-app>

    <v-app-bar color="primary" app>
      <v-app-bar-title class="white--text">Temperature control</v-app-bar-title>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-row class="mt-4">
          <v-col class="mx-lg-auto" cols="12" sm="6" >
            <Termostat :initialTemperature="18" roomName="Garage" :min="5" :max="18"/>
          </v-col>
          <v-col class="mx-lg-auto" cols="12" sm="6" >
            <Termostat :initialTemperature="24" roomName="Living Room" />
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
import Termostat from '@/components/Termostat'

export default {
  name: 'App',

  components: {
    Termostat
  },

  data: () => ({
  }),
};
</script>
